@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Croissant+One&family=Montserrat&display=swap');
body {
    text-align: center;
    background-color:rgb(204, 255, 255) ;
    font-family: 'Bungee Spice', cursive;
 font-family: 'Croissant One', cursive;
 font-family: 'Montserrat', sans-serif;
color: blue;
font-size: 50px;

}
input[type="number"] {
    color: rgb(42, 0, 231);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: rgb(45, 94, 255);
}